/*
 * Home page section
 */
.home-latest {
  background-color: #cc171e;
  margin-top: 200px;
}

.home-latest img {
box-sizing: border-box;
  width: 98%;
  margin-right: 10px;
  border: 3px solid white;
}

.home-slogan {
  font-size: 15em;
  padding-top: 100px;
}

.home-subslogan {
  margin-left: 50%;
}
.last-post-container {
  height: 300px;
}

.last-post {
  font-size: 0.6em !important;
  float: left !important;
  width: 20%;
}

.last-post:hover {
  cursor: pointer;
  transition: opacity 1s;
  opacity: 0.8;
}

.last-post h1 {
  font-size: 1.2em !important;
}
